@CHARSET "ISO-8859-1";

body {
	background-color: 	#0d131b;
	background-image: 	url("../images/Background.gif");
	background-repeat: 	no-repeat;
	background-size:	cover;
	margin: 			0; 
    padding: 			0;
    text-align: 		center;
}

.hide {
	display: none;
}

.centered {
	margin: 0 auto;
}

.padding-block {
	padding-top: 	15px;
	padding-bottom: 15px;
}

.cell {
    outline: 	1px solid SlateGrey;
    height: 	74px;
    width: 		74px;    
}

.untouched {
    //jQuery Only
}

.miss {
    //jQuery Only
}

.hit {
    //jQuery Only
}

.cloud-A {
	background-image: 	url("../images/CloudA.png");
	background-repeat: 	no-repeat;
}

.cloud-B {
	background-image: 	url("../images/CloudB.png");
	background-repeat: 	no-repeat;
}

.cloud-C {
	background-image: 	url("../images/CloudC.png");
	background-repeat: 	no-repeat;
}

#logo {
	display: 			inline-block;
	background-image: 	url("../images/logo.png");
	background-repeat: 	no-repeat;
	width: 				886px;
	height: 			203px;
}

#game-msg {
	background-image: 	url("../images/paper.jpg");
	background-size:	cover;
	font-weight: 		bold;
	border-radius: 		25px;
	padding: 			20px;
	width: 				400px;
    height: 			250px;
    background-color: 	white;
    z-index: 			10000000;
    text-align: 		center;
}

#game-title {
	text-align: center;
	left: 		50%;
}

.menu {
	border-radius: 		25px;
	padding: 			20px;
	background-image: 	url("../images/dragonback.jpg");
	background-size:	cover;
	width: 				300px;
    height: 			360px; 
	//outline: 			1px solid SlateGrey;
    background-color: 	#0d131b;
    font-family: 		"Arial";
    font-weight: 		bold;
    color: 				#0d131b;
    font-size: 			20px;
    z-index: 			100;
}

.textwhite{
	    font-size: 		20px;
	    color: 			white;
}

.blueback
{
	background-color: 	skyblue;
}

.button {
	//jQuery Only
}

#grid {
    width: 	400px;
    height: 400px;        
}

#game-stats {
	background-image: 	url("../images/paper.jpg");
	background-size:	cover;
	font-weight: 		bold;
	border-radius: 		25px;
	padding: 			20px;
    width: 				250px;
    height: 			120px;
    background-color: 	white;
}

#sp-game {
width:750px;
}

#game-body
{
	//jQuery Only
}

#play-area {
	 //jQuery Only
}

#player-grid, #ai-grid {
	//display: inline-block;
}

.v-dragon-head
{
	background-image: 	url("../images/DragonHeadV.png");
	background-repeat: 	no-repeat;
}

.h-dragon-head
{
	background-image: 	url("../images/DragonHeadH.png");
	background-repeat: 	no-repeat;
}

.v-dragon-body
{
	background-image: 	url("../images/DragonBodyV.png");
	background-repeat: 	no-repeat;
}

.h-dragon-body
{
	background-image: 	url("../images/DragonBodyH.png");
	background-repeat: 	no-repeat;
}

.v-dragon-tail
{
	background-image: 	url("../images/DragonTailV.png");
	background-repeat: 	no-repeat;
}

.h-dragon-tail
{
	background-image: 	url("../images/DragonTailH.png");
	background-repeat: 	no-repeat;
}

.explosion {
    width: 	74px;
    height: 74px;
    background-image: 	url("../images/bang.png");
    
    -webkit-animation: 	play .6s steps(9) infinite;
       -moz-animation:	play .6s steps(9) infinite;
        -ms-animation:	play .6s steps(9) infinite;
         -o-animation: 	play .6s steps(9) infinite;
            animation: 	play .6s steps(9) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -666px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -666px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -666px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -666px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -666px; }
}